*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: sans-serif;
}
body{
    background-image: url(../res/background.png);
    background-attachment: fixed;
} 
.main-container{
    display: flex;
    flex-direction: column;
}
.login-header{
    position:relative;
    width: 100%;
    height:100px;
    position: fixed;
    background-color: #199E16;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index: 200;
}
.back-button{
    position: absolute;
    left: 2%;
    margin-left:4% ;
    text-decoration: none;
    color: white;
    font-size: x-large;
    font-weight: bold;
    transition: all 0.5s ease 0s;
}
.back-button:hover{
    transform:translate(-20px);
}
.button-container{
    position: absolute;
    right: 2%;
}
.button-add{
    position: relative;
    width: 100px;
    height: 30px;
    color: white;
    background-color: black;
    border-radius: 20px;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}
.button-add:hover{
    font-size: xx-small;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    content: "";
}
.button-add::after{
    position: absolute;
    content: "";
    width: 100px;
    height: 30px;
    top: 0%;
    left: 0%;
    opacity: 0%;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    transition: all 0.5s ease 0s;
}
.button-add:hover::after{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    content:"+" ;
    background-color: black;
    opacity: 100%;
}



.modal{
    margin-top:2.6cm ;
    display: none;
    position: fixed;
    z-index: 1; 
    padding-top: 50px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: hidden;
    text-align: center;
    background-color: rgba(0,0,0,0.4);
}
.modal-content{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: fit-content;
    border-radius:10px;
}
.modal-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.modal-form label{
    margin-top: 30px;
    font-weight: bolder;
    font-size: x-large;
}
.modal-input{
    width: 400px;
    height: 50px;
    border-radius: 20px;
    text-align: center;
    border: 0.03cm solid black ;
}
.submit-button{
    margin-top: 30px;
    margin-bottom: 10px;
    width: 100px;
    height: 50px;
    border-radius: 20px;
    text-align: center;
    border: none;
    font-size: larger;
    font-weight: bold;
    color: white;
    background-color: #199E16;
    cursor: pointer;
    transition: all 0.4s ease 0s;
}
.submit-button:hover{
    background-color: black;
}
#close{
    color: #aeaeae;
    float: right;
    font-size: 25px;
    font-weight: bold;
    transition: all 0.4s ease 0s;

}
#close:hover,
#close:focus{
    font-size: 30px;
    font-weight: bolder;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}









.button-delete{
    width: 100px;
    height: 30px;
    color: white;
    background-color: black;
    border-radius: 20px;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: all 0.6s ease 0s;
}
.button-delete:hover{
    font-size: xx-small;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    content:none;
}
.button-delete::after{
    position: absolute;
    content: "";
    width: 100px;
    height: 30px;
    top: 0%;
    right: 0%;
    opacity: 0%;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    transition: all 0.5s ease 0s;
}
.button-delete:hover::after{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    content:"-" ;
    background-color: black;
    opacity: 100%;
}
#close1{
    color: #aeaeae;
    float: right;
    font-size: 25px;
    font-weight: bold;
    transition: all 0.4s ease 0s;
}
#close1:hover,
#close1:focus{
    font-size: 30px;
    font-weight: bolder;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}




.form-container{
    margin-top: 2.8cm;
}
table,tr,th,td{
    border: 1px solid black;
    font-size: large;
    text-align: center;
    align-items: center;
}
table{
    border: 0.1cm solid black;
    border-radius: 20px;
    width: 100%;
}
table th{
    background-color: black;
    height: 40px;
    color: white;
    border-radius: 40px;
}
td{
    border-radius: 40px;
    font-size :large;
    width: fit-content;
    height: 20px;
    text-align: center; 
}
.input-values{
    text-align: center; 
    border: none;
    outline: none;
}
.submit-button-container{
    border: none;
}
.submit-button{
    width:70px;
    border-radius:40px;
    font-size: medium;
    color: black;
    background-color: none;
    border: none;
    font-weight: bold;
    transition: all 0.4s ease 0s;
}
.submit-button:hover{
    color: white;
    background-color: black;
}