*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-image: url(../res/background.png);
    background-attachment: fixed;
}
.table-container{
    display: flex;
    flex-direction: column;
}
.login-header{
    z-index: 9;
    width: 100%;
    height:100px;
    position:fixed;
    background-color: #199E16;
    display: flex;
    align-items: center;
}
.back-button{
    margin-left:4% ;
    text-decoration: none;
    color: white;
    font-size: x-large;
    font-weight: bold;
    transition: all 0.5s ease 0s;
}
.back-button:hover{
    transform:translate(-20px);
}
.container{
    margin-top: 2.6cm;
    width: 100%;
    height: 100vh;
    align-items: center;
    object-fit: cover;
    background-color: aliceblue;
    background-size: cover;
}
.container video{
    position: relative;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.links-container{
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 40%;
    left: 13%;
}

.links-container a button{
    z-index: 1;
    margin: 1cm;
    width: 500px;
    height: 100px;
    border: 0.1cm solid white;
    color: white;
    border-radius: 40px;
    cursor: pointer;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    background: transparent;
    transition: all 0.4s ease 0s;
}
.links-container  a button:hover{
    background-color: black;
    color: white;
}
.selection-container{
    padding-top:2.6cm ;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: blue;

}
.information-container{
    cursor: pointer;
    text-transform: capitalize;
    text-align: center;
    position: relative;
    margin: 20px;
    width: 350px;
    height:100px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    transition: all 0.4s ease 0s;
}
.information-container:hover{
    width: 370px;
    height: 120px;
}





.modal{
    margin-top:2.6cm ;
    display: none;
    position: fixed;
    z-index: 1; 
    padding-top: 10px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    text-align: center;
    background-color: rgba(0,0,0,0.4);
}
.modal-content{
    width: 100%;
    height: 80vh;
    overflow-y: scroll;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius:10px;
}

#close{
    width: 35px;
    height: 35px;
    text-align: center;
    border: 0.08cm solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    opacity: 75%;
    float: right;
    font-size: 50px;
    font-weight: bold;
    transition: all 0.4s ease 0s;

}
#close:hover,
#close:focus{
    opacity: 1;
    width: 40px;
    height: 40px;
    font-size: 65px;
    font-weight: bolder;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#close1{
    width: 35px;
    height: 35px;
    text-align: center;
    border: 0.08cm solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    opacity: 75%;
    float: right;
    font-size: 50px;
    font-weight: bold;
    transition: all 0.4s ease 0s;

}
#close1:hover,
#close1:focus{
    opacity: 1;
    width: 40px;
    height: 40px;
    font-size: 65px;
    font-weight: bolder;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}








table,tr,th,td{
    border: 1px solid black;
    font-size: x-large;
    text-align: center;
    align-items: center;
}
table{
    border: 0.1cm solid black;
    border-radius: 20px;
    width: 100%;
}
table th{
    background-color: black;
    height: 50px;
    color: white;
    border-radius: 40px;
}
td{
    border-radius: 40px;
}
table td input{
    text-align: center; 
    border: none;
    outline: none;
}
.submit-button{
    border: none;
}
.submit-button button{
    width:70px;
    border-radius:40px;
    font-size: medium;
    color: black;
    background:transparent;
    border: none;
    font-weight: bold;
    transition: all 0.4s ease 0s;
}
.submit-button button:hover{
    color: white;
    background-color: black;
}

@media screen and (max-width:1200px){
    body{
        background-size: 100px 100px;
    }
    table,tr,th,td{
        font-size: medium;
        
    }
    table th{
        height: 40px;
    }
    .links-container  a button{
        margin: 1cm;
        width: 355px;
        height: 90px;
        font-size: x-large;
        
    }
}
@media screen and (max-width:800px){
    table,tr,th,td{
        font-size: small;
    }
    .links-container  a button{
        margin: 0.25cm;
        width: 300px;
        height: 90px;
        font-size: larger;
        
    }
}
@media screen and (max-width:600px){
    table,tr,th,td{
        font-size: smaller;
    }
    table th{
        height: 30px;
    }
    .submit-button button{
        height: 40px;
        width:60px;
        font-size: small;
    }
    .links-container{
        flex-direction: column;
    }
    
}
@media screen and (max-width:500px){
    
    .submit-button button{
        height: 30px;
        width:50px;
        font-size: 13px;
    }
}