<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/cold_storage.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main-container">
        <header class="login-header">
            <a href="../#home" class="back-button">Back</a>
            <h1>COLD STORAGE :</h1>
        </header>
        <div class="form-container">
            <form>
                <table>
                    <tr>
                        <th>Sl.no</th>
                        <th>Product Name</th>
                        <th>Max. Storage Space</th>
                        <th>Avl Storage Space</th>
                        <th>Add</th>
                        <th>Delete</th>
                    </tr>
                    {% for c in cold_storage %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td></td>
                    </tr>
                    
                </table>
            </form>
        </div>
    
</body>
</html>