<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/fam_coma.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main-container">
        <header class="login-header">
            <a href="../#home" class="back-button">Back</a>
        </header>
        <div class="selection-container">
            {% for cs in cold_storages %}
            <div class="information-container" index="{{ forloop.counter }}">
                <h1>{{ cs.cs_name }}</h1>
            </div>
            <div>
                <div id="{{ forloop.counter }}" class="modal">
                    <div class="modal-content">
                        <span class="close" id="close" index="{{ forloop.counter }}">&times;</span>
                        <h1 style="text-transform:uppercase;">{{ cs.cs_name }}</h1>
                        <table>
                            <tr>
                                <th>Sl.No</th>
                                <th>Name of Products</th>
                                <th>Maximum Storage Capacity</th>
                                <th>Available Storage</th>
                                <th>Available with farmers</th>
                            </tr>
                            {% for pr in products %}
                            {% for prod in pr %}
                            {% if prod.cs_own.cs_name == cs.cs_name %}
                                <form class="" method="POST">
                                {% csrf_token %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ prod.cs_pname}}</td>
                                        <td>{{ prod.cs_max_str }}</td>
                                        <td>{{ prod.cs_avl_str }}</td>
                                        <td>{{ prod.famadd }}<input type="number" name="famadd" value="0" id="" placeholder=" eg.. 20000kg" class="input-values"></td>
                                        <td class="submit-button"><input type="submit" class="button" value="submit"></td>
                                    </tr>
                                </form>
                            {% endif %}
                            {% endfor %}
                            {% endfor %}
                        </table>
                        
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
        
    </div>
    <script>
//         var modal = document.getElementById("farmer-add-row");
//         var btn = document.getElementById("add-button");
//         var close = document.getElementById("close"); 
// <!--        btn.onclick = function() {-->
// <!--            modal.style.display = "block";-->
// <!--        }-->

//         function open(id) {
//             var modal = document.getElementById("{id}");
//             console.log("farmer-add-row {id}");
// <!--            modal.style.display = "block";-->
//         }


const storageList = Array.from(document.querySelectorAll('.information-container'));
console.log(storageList);

for(element of storageList) {
    const id = element.getAttribute('index');
    console.log(id);
    const modal = document.getElementById(id);
    element.addEventListener('click', () => {
        modal.style.display = "block";
        modal.childNodes[1].childNodes[1].addEventListener('click',() => {
            modal.style.display = "none";
        })
    })
}



        // close.onclick = function() {
        //     modal.style.display = "none";
        // }
// <!--        window.onclick = function(event) {-->
// <!--            if (event.target == modal) {-->
// <!--                modal.style.display = "none";-->
// <!--            }-->
// <!--        }-->
    </script>
</body>
</html>