<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../static/css/home.css">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div class="header-of-the-site">
            <h1 class="navbar-title">farm-products management</h1>
                <nav>
                    
                    <ul class="links-list">
                        <li><a href="#" class="navbar-links">Buying price</a></li>
                        <li><a href="#" class="navbar-links">Selling price</a></li>
                    </ul>
                    
                </nav>
        </div>
        <div class="home-page">
            <div class="home-links-container">
                
                <a href="#" class="home-links"><img src="../static/res/farmers.jpg" alt="farmer" class="home-link-images"></a>
                <a href="#" class="home-links"><img src="../static/res/retail.jpg" alt="retailer" class="home-link-images"></a>
                <a href="#" class="home-links"><img src="../static/res/cold storage.jpg" alt="cold storage" class="home-link-images"></a>
            </div>
            <div class="home-animation">

            </div>
        </div>
    </body>
</html>