<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../static/css/home.css">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div class="home-page-container" id="home">
            <header class="header-of-the-site">
                <h1 class="navbar-title">farm-products management</h1>
                    <nav>
                        
                        <ul class="links-list">
                            <li><a href="login" class="navbar-links">log in</a></li>
                            <li><a href="signup" class="navbar-links">Sign up</a></li>
                        </ul>
                        
                    </nav>
            </header>

            <div class="home-links-container">
                <form action="signup/" method="get">
                <input type="submit" name="occupation" value="farmer" class="home-links farmer-link"><img src="../static/res/farmers.jpg" alt="farmer" class="home-link-images">
                <input type="submit" name="occupation" value="retailer" class="home-links retail-link"><img src="../static/res/retail.jpg" alt="retailer" class="home-link-images">
                <input type="submit" name="occupation" value="cold storage" class="home-links cold-storage-link"><img src="../static/res/cold storage.jpg" alt="cold storage" class="home-link-images">
                </form>
            </div>
            <div class="home-animation"></div>
            <footer class="footer">
                <div class="footer-logo"></div>
                <div class="footer-contact">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima, exercitationem!</p>

                </div>
                <div class="footer-about">
                    <h3>ABOUT</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic tempore nesciunt tenetur delectus, cum distinctio et fugiat? Laborum, modi mollitia.</p>

                </div>

            </footer>

            
        </div>
    </body>
</html>