<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/retailers-table.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="table-container">
        <header class="login-header">
            <a href="../#home" class="back-button">Back</a>
        </header>
        <div class="container">
            <video src="../static/res/farmer.mp4" autoplay loop ></video>
            <div class="links-container">
                <a href="#farmers"><button>From Farmers</button></a>
                <a href="#cold-storage"><button>From Cold Storage</button></a>
            </div>
        </div>
        <div id="farmers">
            <h1>Farmers</h1>
            <table>
                <tr>
                    <th>Sl.No</th>
                    <th>Name of Products</th>
                    <th>Maximum Storage Capacity</th>
                    <th>Available Storage</th>
                    <th>Your Requirment</th>
                </tr>
                <tr>
                    <td>1.</td>
                    <td>Rice</td>
                    <td>5000000 kg</td>
                    <td>2000000 kg</td>
                    <td><input type="number" name="" id="" placeholder=" eg.. 20000kg"></td>
                    <td class="submit-button"><a href="#"><button>Submit</button></a></td>
                </tr>
            </table>
        </div>
        <div id="cold-storage">
            <h1>Cold Storage</h1>
            <table>
                <tr>
                    <th>Sl.No</th>
                    <th>Name of Products</th>
                    <th>Maximum Storage Capacity</th>
                    <th>Available Storage</th>
                    <th>Your Requirment</th>
                </tr>
                <tr>
                    <td>1.</td>
                    <td>Rice</td>
                    <td>5000000 kg</td>
                    <td>2000000 kg</td>
                    <td><input type="number" name="" id="" placeholder=" eg.. 20000kg"></td>
                    <td class="submit-button"><a href="#"><button>Submit</button></a></td>
                </tr>
            </table>
        </div>


    </div>
    
</body>
</html>